extends layout

block content
  .row.justify-content-center
    .card.col-lg-4
      .card-body
        h1 #{title}
        br
        form#verify-form.needs-validation(
          method='post',
          novalidate='',
          class={ "was-validated": errors.wasValidated }
        )
          .form-group
              label(for='verificationCode') Verification Code
              input.form-control#verificationCode(
                name='verificationCode',
                required='',
                placeholder='Code'
              )
              if errors.verificaitonCode
                .invalid-feedback
                  | #{errors.verificationCode}
          button.btn.btn-primary.btn-block(type='submit') Verify

